@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: #e5e1db;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ac9d92' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    // background: #D3D3D3;
    // background-image: url("../public/bg.jpg");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 25% 23% 25% 23%;
    // background-repeat: no-repeat;
    // background-size: cover;
  }
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero{
  background: rgb(162,27,7);
  background: linear-gradient(49deg, rgba(162,27,7,1) 34%, rgba(231,229,194,1) 89%, rgba(255,255,255,1) 100%);
  margin: 0 !important;
  display:flex !important;
  
}
.con{
  margin: 0 !important;
  padding: 0 !important;
  max-width:100% !important;

}
.nav{
  max-width: 100% !important;
  margin-bottom: 3rem !important;
  top: 0!important;
  z-index: 40;
  position: absolute;
  background: #0000007a;
  margin-bottom: 4rem !important;
}
.bt2{
  background: rgb(162,27,7);
  background: linear-gradient(49deg, rgba(162,27,7,1) 34%, rgba(231,229,194,1) 89%, rgba(255,255,255,1) 100%);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  border-radius: 10px;
  &:hover{
    background: #fff;
    color: #000;
    scale: 1.05;
  }
}
.bt1{
  background: rgb(162,27,7);
  background: linear-gradient(249deg, rgba(162,27,7,1) 34%, rgba(231,229,194,1) 89%, rgba(255,255,255,1) 100%);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  border-radius: 10px;
  &:hover{
    background: #fff;
    color: #000;
    scale: 1.05;
  }
}
.footer{
  background: rgb(162,27,7);
  color: #fff;
  display: flex;
  flex-direction: column !important;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  a{
    color: #fff;
  }
}
.feature{
  cursor: pointer;
  transition: all 0.3s ease;
  :hover{

    transition-duration: 1s;
    scale: 1.05 !important;
    background: rgba(19, 3, 1, 0.096);

  }
}
.fixed{
  z-index: 10;
}
.touch{
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
.item{
  gap: 12rem;
  @media (max-width: 768px) {
    gap: 1rem;
    font-size: 1rem;
  }
}

.flexer{

  @media (max-width: 760px) {
    gap: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
.h-image{
  max-width: 1300px;
  max-height: 500px;
  width: 700px;
}

.social{
@media screen and (max-width:700px) {
  display: none;
}
}

.detail{
  margin-top: 100px;
  // padding-left: 0rem !important;
  // padding-right: 0rem !important;
  // margin-left: 0rem !important;
  // margin-right: 0rem !important;

}
.detail-img{
  max-width: 100%;
  width: 100%;
}